<h2> Welcome to the Agent Manual </h2>

<%= form_for :agent, url: create_session_path do |f| %>
     
      <% flash.each do |key,value|  %>
         <div class="<%= key %>" > <%= value %> </div>
      <% end %>
     
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login" %>
 <% end %>

<div class="login">
 <%= form_for :agent, url: create_session_path do |f| %>
     
      <% flash.each do |key,value|  %>
         <div class="<%= key %>" > <%= value %> </div>
      <% end %>
     
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login" %>
 <% end %>
</div>