
    <!-- Jumbotron Display -->

    <div class="jumbotron">
      <div class="container">
        <h1>Agent Manual</h1>
        <p class="subtext">The only tool you'll need to become a successful real estate agent besides a personality.</p>
      </div>
    </div> 

    <% flash.each do |key,value|  %>
      <div class="alert alert-<%= key %>" > <%= value %> </div>
    <% end %>

    <div class="container dashboard-body">

      <!-- Open House Row -->
      <div class="row">
        <div class="col-md-12 event-col">

          <!-- Open House Column-->

          <h3>Event Schedule</h3>
          <button type="button" class="btn btn-default btn-sm add" data-toggle="modal" data-target="#addEventModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Event
          </button>
          <button type="button" id="show-events" class="btn btn-default btn-sm add" data-toggle="tooltip" title="Show/Hide All">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
          </button>

<!-- Add Event Modal -->

          <div id="addEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content"  >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Event</h4>
                </div>
                <div class="modal-body">
                  <%= form_for(:event, url: create_event_path, html: {class: "navbar-form"}) do |f| %>

                    <% flash.each do |key,value|  %>
                      <div class="<%= key %>" > <%= value %> </div>
                    <% end %>
                    
                    <div><%= f.text_field :event_type, class: "form", placeholder: "Type" %></div>     
                    <div><%= f.text_field :title, class: "form", placeholder: "Title" %></div>
                    <div><%= f.text_field :date, id: "datePicker", class: "form", placeholder: "Date" %></div>
                    <div><%= f.text_field :start_time, class: "form", placeholder: "Start Time" %></div>
                    <div><%= f.text_field :end_time, class: "form", placeholder: "End Time" %></div>
                    <div>Agent <%= f.collection_select :agent_id, Agent.all, :id, :full_name, :prompt => true %></div>
                    <div>Listing <%= f.collection_select :listing_id, Listing.all, :id, :address, :prompt => true %></div>
                    <div>Prospect <%= f.collection_select :prospect_id, Prospect.all, :id, :full_name, :prompt => true %></div>
                    <div><%= f.text_field :notes, class: "form", placeholder: "Notes" %></div>
                    
                    <%= f.submit "Submit", class: "btn btn-default" %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>

          <div class="view">
              <div class="panel panel-default">
                <% @events.each do |event| %>
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-md-2 panel-title">
                        <% if event.title != "" %><%= event.title %>
                        <% else %><%= event.event_type %>
                        <% end %></div>
                      <div class="col-md-1"><%= event.date %></div>
                      <div class="col-md-2"><%= event.start_time %> to <%= event.end_time %></div>
                      <div class="col-md-2">
                        <% if event.agent_id %>
                          <%= Agent.find(event.agent_id).full_name %>
                        <% end %>
                      </div>
                      <% if event.listing_id %>
                      <div class="col-md-4">
                          <%= Listing.find(event.listing_id).address %>
                      </div>
                      <% end %>
                      <% if event.prospect_id %>
                        <div class="col-md-2">
                          <%= Prospect.find(event.prospect_id).full_name %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="panel-body event-body">
                    <div class="row">
                      <div class="col-md-1 panel-title">Notes</div>
                      <div class="col-md-10"><%= event.notes %><br/>&nbsp;</div>
                      <div class="col-md-1">
                        <%= button_to event_path(id: event.id), method: "get", class: "btn btn-default btn-sm" do %>
                          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> View
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>

        </div>

        <!-- Open House Column END -->

      </div>

    <!-- Open House Row END -->

    <!-- Listings & Leads Row -->
      <div class="row">
        <div class="col-md-6 listings-col">

          <!-- Listings Column-->

          <h3>Listings</h3>
          <button type="button" class="btn btn-default btn-sm add" data-toggle="modal" data-target="#addListingModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Listing
          </button>
          <button type="button" id="show-listings" class="btn btn-default btn-sm add" data-toggle="tooltip" title="Show/Hide All">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
          </button>

          <div id="addListingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content"  >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Listing</h4>
                </div>
                <div class="modal-body">
                  <%= form_for(:listing, url: create_listing_path, html: {class: "navbar-form"}) do |f| %>
                    <% flash.each do |key,value|  %>
                      <div class="<%= key %>" > <%= value %> </div>
                    <% end %>
                    <h4>Listing Address</h4>
                    <div><%= f.text_field :address_1, class: "form", placeholder: "Address Line 1" %></div>
                    <div><%= f.text_field :address_2, class: "form", placeholder: "Address Line 2" %></div>
                    <div><%= f.text_field :city, class: "form", placeholder: "City" %></div>
                    <div><%= f.text_field :state, class: "form", placeholder: "State" %></div>
                    <div><%= f.text_field :zip_code, class: "form", placeholder: "Zip Code" %></div>
                    <h4>Listing Details</h4>
                    <div><%= f.text_field :sqft, class: "form", placeholder: "Lot Size" %></div>
                    <div><%= f.text_field :bed, class: "form", placeholder: "# of Beds" %></div>
                    <div><%= f.text_field :bath, class: "form", placeholder: "# of Baths" %></div>
                    <div><%= f.text_field :price, class: "form", placeholder: "Price" %></div>
                    <div><%= f.text_field :description, class: "form", placeholder: "Description" %></div>
                    <div><%= f.text_field :status, class: "form", placeholder: "Active / Sold / In Escrow" %></div>
                    <div><%= f.text_field :image_url, class: "form", placeholder: "Image URL" %></div>

                    <%= f.submit "Submit", class: "btn btn-default" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="view">

            <div class="panel panel-info">

              <% @listings.each do |listing| %>
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-6 panel-title"><%= listing.address_1 %></div>
                  <div class="col-md-4"><%= listing.city %>, <%= listing.state %> <%= listing.zip_code %></div>
                  <div class="col-md-2"><%= listing.status %></div>
                </div>
              </div>
              <div class="panel-body listing-body">
                <div class="row listingImage" style="background: url(<%=listing.image_url%>) center no-repeat; height: 250px; background-size: cover;">
                </div>
                <div class="row">
                  <div class="col-md-3 attrTitle">Address</div>
                  <div class="col-md-7 attrValue">
                      <%= listing.address_1 %>
                      <br/><%= listing.city %>, <%= listing.state %> <%= listing.zip_code %>
                  </div>
                  <div class="col-md-2">
                    <button type="button" id="show-events" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> View
                    </button>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-3 attrTitle">Lot Size</div>
                  <div class="col-md-9 attrValue"><%= listing.sqft %> sqft</div>
                </div>  
                <div class="row">
                  <div class="col-md-3 attrTitle">Bed / Bath</div>
                  <div class="col-md-9 attrValue"><%= listing.bed %> / <%= listing.bath %></div>
                </div>  
                <div class="row">
                  <div class="col-md-3 attrTitle">Price</div>
                  <div class="col-md-9 attrValue"><%= listing.price %></div>
                </div>              
              </div>
              <% end %>

            </div>

          </div>

        </div>
    
        <!-- Leads Column -->

        <div class="col-md-6 leads-col">

          <h3>Leads</h3>
          <button type="button" class="btn btn-default btn-sm add" data-toggle="modal" data-target="#addLeadModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Lead
          </button>
          <button type="button" id="show-leads" class="btn btn-default btn-sm add" data-toggle="tooltip" title="Show/Hide All">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
          </button>

          <div id="addLeadModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content"  >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Lead</h4>
                </div>
                <div class="modal-body">
                  <%= form_for(:prospect, url: create_prospect_path, html: {class: "navbar-form"}) do |f| %>
                    <% flash.each do |key,value|  %>
                      <div class="<%= key %>" > <%= value %> </div>
                    <% end %>
                    <div><%= f.text_field :first_name, class: "form", placeholder: "First Name" %></div>
                    <div><%= f.text_field :last_name, class: "form", placeholder: "Last Name" %></div>
                    <div><%= f.text_field :phone, class: "form", placeholder: "Phone Number" %></div>
                    <div><%= f.email_field :email, class: "form", placeholder: "Email Address" %></div>
                    <div><%= f.text_field :notes, class: "form", placeholder: "Notes" %></div>

                    <%= f.submit "Submit", class: "btn btn-default" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="view">

            <div class="panel panel-warning">

              <% @prospects.each do |prospect| %>

                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-4 panel-title"><%= prospect.first_name %> <%= prospect.last_name %></div>
                    <div class="col-md-3"><%= prospect.phone %></div>
                    <div class="col-md-3"><%= prospect.email %></div>
                  </div>
                </div>

                <div class="panel-body lead-body">
                  <% if prospect.open_house_id %>
                  <div class="row">
                    <div class="col-md-3 attrTitle">Meeting Date</div>
                    <div class="col-md-9 attrValue"><%= prospect.open_house.date %></div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 attrTitle">Open House</div>
                    <div class="col-md-9 attrValue"><%= prospect.open_house.listing.address %></div>
                  </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-3 attrTitle">Notes</div>
                    <div class="col-md-7 attrValue"><%= prospect.notes %></div>
                    <div class="col-md-2">
                    <button type="button" id="show-events" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> View
                    </button>
                  </div>
                  </div>
                </div>

              <% end %>

            </div>

          </div>

        </div>

        <!-- Leads Column END -->

      </div>

    <!-- Listings & Leads Row END -->

  </div>