<div class="nav">
  <ul class="nav nav-default pull-left">
    <li class="title"><a href="#">Agent Manual</a></li>
  </ul>
  <ul class="nav nav-tabs pull-right">
    <li class="active"><a href="#">Dashboard</a></li>
    <li><a href="#">Listings</a></li>
    <li><a href="#">Leads</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Open Houses</a></li>
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%= @agent.first_name %> <%= @agent.last_name %>
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log Out</a></li> 
      </ul>
    </li>
  </ul>
</div>


    <!-- Jumbotron Display -->

    <div class="jumbotron">
      <div class="container">
        <h1>Agent Manual</h1>
        <p class="subtext">The only tool you'll need to become a successful real estate agent.</p>
      </div>
    </div> 

    <% flash.each do |key,value|  %>
      <div class="alert alert-<%= key %>" > <%= value %> </div>
    <% end %>

    <div class="container">

      <!-- Open House Row -->
      <div class="row">
        <div class="col-md-12 event-col">

          <!-- Open House Column-->

          <h3>Event Schedule</h3>
          <button type="button" class="btn btn-default btn-sm add" data-toggle="modal" data-target="#addEventModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Event
          </button>

          <div id="addEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content"  >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Event</h4>
                </div>
                <div class="modal-body">
                  <%= form_for(:event, url: create_user_path, html: {class: "navbar-form"}) do |f| %>
                    <% flash.each do |key,value|  %>
                      <div class="<%= key %>" > <%= value %> </div>
                    <% end %>
                         
                    <div><%= f.text_field :title, class: "form", placeholder: "Title" %></div>
                    <div><%= f.text_field :date, class: "form", placeholder: "Date" %></div>
                    <div><%= f.text_field :start_time, class: "form", placeholder: "Start Time" %></div>
                    <div><%= f.email_field :end_time, class: "form", placeholder: "End Time" %></div>
                    
                    <%= f.submit "Submit", class: "btn btn-default" %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>

          <div class="view">
            <% @events.each do |event| %>
            <div class="panel panel-default">

                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-2 panel-title"><%= event.title %></div>
                    <div class="col-md-1"><%= event.date %></div>
                    <div class="col-md-2"><%= event.start_time %> to <%= event.end_time %></div>
                    <div class="col-md-2">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-1 panel-title">Notes</div>
                    <div class="col-md-11"><%= event.notes %></div>
                  </div>
                </div>
            <% end %>

            </div>

          </div>

        </div>

        <!-- Open House Column END -->

      </div>

    <!-- Open House Row END -->

    <!-- Listings & Leads Row -->
      <div class="row">
        <div class="col-md-6 listings-col">

          <!-- Listings Column-->

          <h3>Listings</h3>
          <button type="button" class="btn btn-default btn-sm add" data-toggle="modal" data-target="#addListingModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Listing
          </button>

          <div id="addListingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content"  >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Listing</h4>
                </div>
                <div class="modal-body">
                  <%= form_for(:listing, url: create_listing_path, html: {class: "navbar-form"}) do |f| %>
                    <% flash.each do |key,value|  %>
                      <div class="<%= key %>" > <%= value %> </div>
                    <% end %>
                    <h4>Listing Address</h4>
                    <div><%= f.text_field :address_1, class: "form", placeholder: "Address Line 1" %></div>
                    <div><%= f.text_field :address_2, class: "form", placeholder: "Address Line 2" %></div>
                    <div><%= f.text_field :city, class: "form", placeholder: "City" %></div>
                    <div><%= f.text_field :state, class: "form", placeholder: "State" %></div>
                    <div><%= f.text_field :zip_code, class: "form", placeholder: "Zip Code" %></div>
                    <h4>Listing Details</h4>
                    <div><%= f.text_field :sqft, class: "form", placeholder: "Lot Size" %></div>
                    <div><%= f.text_field :bed, class: "form", placeholder: "# of Beds" %></div>
                    <div><%= f.text_field :bath, class: "form", placeholder: "# of Baths" %></div>
                    <div><%= f.text_field :price, class: "form", placeholder: "Price" %></div>
                    <div><%= f.text_field :description, class: "form", placeholder: "Description" %></div>
                    <div><%= f.text_field :status, class: "form", placeholder: "Active / Sold / In Escrow" %></div>
                    <div><%= f.text_field :image_url, class: "form", placeholder: "Image URL" %></div>

                    <%= f.submit "Submit", class: "btn btn-default" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="view">

            <div class="panel panel-info">

              <% @listings.each do |listing| %>
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-6 panel-title"><%= listing.address_1 %></div>
                  <div class="col-md-4"><%= listing.city %>, <%= listing.state %> <%= listing.zip_code %></div>
                  <div class="col-md-2"><%= listing.status %></div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row listingImage" style="background: url(<%=listing.image_url%>) center no-repeat; height: 250px; background-size: cover;">
                </div>
                <div class="row">
                  <div class="col-md-3 attrTitle">Address</div>
                  <div class="col-md-9 attrValue">
                      <%= listing.address_1 %>
                      <br/><%= listing.city %>, <%= listing.state %> <%= listing.zip_code %>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-3 attrTitle">Lot Size</div>
                  <div class="col-md-9 attrValue"><%= listing.sqft %> sqft</div>
                </div>  
                <div class="row">
                  <div class="col-md-3 attrTitle">Bed / Bath</div>
                  <div class="col-md-9 attrValue"><%= listing.bed %> / <%= listing.bath %></div>
                </div>  
                <div class="row">
                  <div class="col-md-3 attrTitle">Price</div>
                  <div class="col-md-9 attrValue"><%= listing.price %></div>
                </div>              
              </div>
              <% end %>

            </div>

          </div>

        </div>
    
        <!-- Leads Column -->

        <div class="col-md-6 leads-col">

          <h3>Leads</h3>
          <button type="button" class="btn btn-default btn-sm add" data-toggle="modal" data-target="#addLeadModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Lead
          </button>

          <div id="addLeadModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content"  >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Lead</h4>
                </div>
                <div class="modal-body">
                  <%= form_for(:prospect, url: create_prospect_path, html: {class: "navbar-form"}) do |f| %>
                    <% flash.each do |key,value|  %>
                      <div class="<%= key %>" > <%= value %> </div>
                    <% end %>
                    <div><%= f.text_field :first_name, class: "form", placeholder: "First Name" %></div>
                    <div><%= f.text_field :last_name, class: "form", placeholder: "Last Name" %></div>
                    <div><%= f.text_field :phone, class: "form", placeholder: "Phone Number" %></div>
                    <div><%= f.email_field :email, class: "form", placeholder: "Email Address" %></div>
                    <div><%= f.text_field :notes, class: "form", placeholder: "Notes" %></div>

                    <%= f.submit "Submit", class: "btn btn-default" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="view">

            <div class="panel panel-warning">

              <% @prospects.each do |prospect| %>

                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-3 panel-title"><%= prospect.first_name %> <%= prospect.last_name %></div>
                    <div class="col-md-3"><%= prospect.phone %></div>
                    <div class="col-md-3"><%= prospect.email %></div>
                  </div>
                </div>

                <div class="panel-body lead-details">
                  <% if prospect.open_house_id %>
                  <div class="row">
                    <div class="col-md-3 attrTitle">Meeting Date</div>
                    <div class="col-md-9 attrValue"><%= prospect.open_house.date %></div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 attrTitle">Open House</div>
                    <div class="col-md-9 attrValue"><%= prospect.open_house.listing.address_1 %></div>
                  </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-3 attrTitle">Notes</div>
                    <div class="col-md-9 attrValue"><%= prospect.notes %></div>
                  </div>
                </div>

              <% end %>

            </div>

          </div>

        </div>

        <!-- Leads Column END -->

      </div>

    <!-- Listings & Leads Row END -->

  </div>