<div class="row">
	<div class="col-md-1">
        <%= button_to agent_path, method: "get", id: "back-button", class: "btn btn-default btn-md" do %>
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
        <% end %>
    </div>
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-header">
				<h3><span class="glyphicon glyphicon-phone-alt"></span>&nbsp; <%= @prospect.full_name %></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default prospect-panel">
					<div class="panel-heading prospect-heading">
						<div class="row">
							<div class="col-md-8">
								<h4><span class="glyphicon glyphicon-phone-alt"></span>&nbsp; Lead Details</h4>
							</div>
							<div class="col-md-2">
								<button type="button" id="edit-event" class="btn btn-default btn-md">
		              				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
		        				</button>
							</div>
							<div class="col-md-2">
								<%= button_to destroy_prospect_path, method: "delete", id: "delete-button", class: "btn btn-default btn-md" do %>
                      				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
               					 <% end %>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<%= form_for(:prospect, url: edit_prospect_path) do |f| %>
							<div class="row">
								<div class="col-md-3"><p class="attrTitle">First Name</p></div>
								<div class="col-md-9"><%= f.text_field :first_name, class: "inputField editable", value: @prospect.first_name %></div>
							</div>
							<div class="row">
								<div class="col-md-3"><p class="attrTitle">Last Name</p></div>
								<div class="col-md-9"><%= f.text_field :last_name, class: "inputField editable", value: @prospect.last_name %></div>
							</div>
							<div class="row">
								<div class="col-md-3"><p class="attrTitle">Phone Number</p></div>
								<div class="col-md-9"><%= f.text_field :phone, class: "inputField editable", value: @prospect.phone %></div>
							</div>
							<div class="row">
								<div class="col-md-3"><p class="attrTitle">Email Address</p></div>
								<div class="col-md-9"><%= f.text_field :email, class: "inputField editable", value: @prospect.email %></div>
							</div>
							<div class="row">
								<div class="col-md-3"><p class="attrTitle">Notes</p></div>
								<div class="col-md-9"><%= f.text_area :notes, class: "textArea inputField editable", value: @prospect.notes %></div>
							</div>
							<div class="row">
								<div class="col-md-2 col-md-offset-10"><%= f.submit "Save", class: "btn btn-default saveButton" %></div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default event-panel">
							<div class="panel-heading event-heading">
								<span class="glyphicon glyphicon-time"></span>&nbsp; Lead Events
							</div>
							<% @events.each do |event| %>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-3">
										<p class="attrTitle">Event</p>
										<p class="attrTitle">Date</p>
										<p class="attrTitle">Start Time</p>
										<p class="attrTitle">End Time</p>
										<p class="attrTitle">Notes</p>
									</div>
									<div class="col-md-9">
										<p class="attrValue"><%= event.title %></p>
										<p class="attrValue"><%= event.date %></p>
										<p class="attrValue"><%= event.start_time %></p>
										<p class="attrValue"><%= event.end_time %></p>
										<p class="attrValue"><%= event.notes %></p>
									</div>
								</div>
							</div>
							<% end %>
							<% if @events.count == 0 %>
								<div class="panel-body">
									No events for this lead
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="col-md-1"></div>
</div>
